{% extends 'partials/partial_base.html' %} 
{% block crumbs %} 
    courses 
{% endblock %}
{% block content %} 

      <div class="row">
      {% for crs,progress in courses %}
        <div class="card1 col-lg-3 col-12 mx-2 col-md-5 my-3 position-relative" style="width: 18rem;" hx-get="fetch/course/{{crs.id}}/" hx-trigger="click" hx-target="#submain">
            <img src="{{ crs.image.url }}"  class="rounded bg-image hover-zoom img-fluid mx-auto" alt="{{crs.name}}">
            <div class="card-body">
              <p class="card-text">{{crs.name}}</p>
              <div>
                <span class="badge badge-primary badge-pill">{{crs.modules.all.count}} module{{crs.modules.all.count|pluralize}}  </span> 
                <span class="badge badge-primary badge-pill"> {{crs.tests.all.count}} model exam{{crs.tests.all.count|pluralize}}  </span>
             </div>
             <span class="badge badge-primary badge-pill"> Instructor</span> <span class="badge badge-pill badge-success"></span> :<span class="badge badge-primary badge-pill"> {{crs.instructor.username}}</spna>
            </div>
            <div class="progress position-relative rounded">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
          </div>
        </div>
      {% empty %} 
        
        <p> you did not start any course yet</p>
      {% endfor %}
      </div>
{% endblock %} 