{% extends "partials/partial_base.html" %} 

{% block crumbs %} 
<li class="breadcrumb-item" onMouseOver="this.style.textDecoration='underline';this.style.color='#00F'" onMouseOut="this.style.textDecoration='none';this.style.color='#FFF'"
role="button" hx-get="fetch/course/{{course_id}}/"  hx-trigger="click" hx-target="#submain">modules</li>
<li class="breadcrumb-item active" onMouseOver="this.style.textDecoration='underline';this.style.color='#00F'" onMouseOut="this.style.textDecoration='none';this.style.color='#FFF'"
role="button"hx-get="{{url}}{{course_id}}/"  hx-trigger="click" hx-target="#submain"> {% if title %} &rsaquo; {{ title }}{% endif %}</li>
{% endblock %} 

{% block content %}
   <div class="note col-12 col-sm-12 col-lg-9">
      <div class="container">
            <h1 class="font-weight-bold"> {{module.name}}</h1>
      </div>
      <div class="scrollable">
         <p class="card-title"> Module summary</p> 
         <hr class="bg-white">
         <div class="card-body">
               <p class="card-text">{{module.overview|safe}}</p>
         </div>
      </div>
   </div>

   <div class="pages col-sm-12 col-lg-3">
      {% for page in module.pages.all %} 
         <ul class="list-group list-group-flush">
            <li class="list-group-item" hx-get="fetch/pages/{{page.id}}/" hx-trigger="click" hx-target=".note">{{page.title}}</li> 
         </ul>
      {% empty %}
         <span> No pages  </span>
      {% endfor %}
   </div>

{% endblock %}